body {
	background-color: #eeeeee;
}

#header {
	margin-bottom: 0;
}

#jumbotron {

	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 20px 0;
	width: 960px;
	max-width: 95%;
	text-align: center;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 20px;
	background-color: white;
	color: black;
}

form {
	margin-bottom: 0px;
}

#input-div {
	margin: 0 auto;
	width: 340px;
	height: 36px;
	text-align: center;
}

#label-band {
	float: left;
	padding-top: 5px;
	font-size: 16px;
}

#input-band-name {
	float: right;
	margin-bottom: 0px;
	height: 36px;
	width: 187px;
	border: 1px solid #bbb;
	border-radius: 4px;
}

#input-band-name:hover {
	border: 1px solid #888;
}

#add-band {
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	clear: both;
	width: 340px;
	margin-bottom: 0;
}

#logo {
	height: 75px;
	margin-bottom: 10px;
}

#search-header {
	margin-bottom: 5px;
}

h5 {
	margin-top: 10px;
	margin-bottom: 5px;
}

button.button-primary.band-btn {
	width: 100%;
	margin-bottom: 5px;
	text-overflow: ellipsis;
}

#search-terms-container {
	position: relative;
	margin: 0 auto;
	width: 50%;
}

#search-terms p {
	font-size: 12px;
	margin-top: 10px;	
}

#search-terms {
	position: absolute;
	top: -25px;
	z-index: 99 !important;
	display: none;
	box-shadow: 5px 5px 20px #37474f;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	background-color: white;
	color: black;
}

.button {
	margin: 0 auto;
	margin-bottom: 5px;
	display: block;
	clear: both;
	box-shadow: 5px 5px 20px #37474f;
}

.button-primary {
	box-shadow: 5px 5px 20px #37474f;
}

#nav {
	background-color: transparent;
  	border: none;
	margin-bottom: 0px;
}

#navbar {
	padding-left: 0px;
	padding-right: 0px;
}

#navbar-collapse-1 {
	padding-left: 0px;
	padding-right: 0px;

}

#nav-container {
	margin: 0 auto;
	width: 960px;
	max-width: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 38px;
	float: none;
}

.container {
	width: 95%;
}

#fun-facts-header {
	margin-bottom: 0;
}

#fun-facts-container {
	text-align: center;
	font-size: 12px;
	height: 150px;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 100px;
	background-color: white;
}

#med-bubble {
	width: 65px;
	height: 65px;
	margin-top: 5px;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 45px;
	background-color: white;
}

#sm-bubble {
	width: 35px;
	height: 35px;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 25px;
	background-color: white;
}

#spotify-container {
	text-align: center;
	font-size: 12px;
	height: 250px;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 20px;
	background-color: white;
}

#fun-facts, #spotify {
	padding: 10px;
	padding-top: 0;
}

#spotify-header {
	margin-bottom: 0;
}

#now-playing {
	min-height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
}

#now-playing-image {
	min-height: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#disc-container {
	margin: 30px 0;
	min-height: 100px;
	padding: 10px;
	text-align: center;
	box-shadow: 5px 5px 20px #37474f;
	border-radius: 20px;
	background-color: white;
}

.button-primary.album-button {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button-primary.search-term-btn {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 5px 5px 20px #37474f;
}

#disc-header, #discography h4, #discography h5 {
	margin-top: 0px;
	margin-bottom: 5px;
}

a:hover, a:focus {
	text-decoration: none;
	color: #1EAEDB;
}

a, a:visited {
	text-decoration: none;
	color: #33C3F0;
}

.album-image {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
}

#now-playing-image {
	width: 100px;
}

#cancel {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 5px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  height: 250px;
}

@media screen and (min-width: 768px) {
  
  li.btn-container {
    max-width: 187px;
    width: 19.48%;
	margin-left: .26%;
	margin-right: .26%;
  }
}


@media screen and (max-width: 767px) {

	button.button-primary.band-btn {
		display: block;
		margin: auto;
		width: 340px;
		margin-bottom: 5px;
	}
}