// ONLY MAKE CHANGES IN THIS .SCSS FILE - NOT IN .CSS FILE!!

$border-style: 2px solid black;
$color-background-primary: white;

body {
	background-color: #eeeeee;
}

#header {
	margin-bottom: 0;
}

#jumbotron {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 20px 0;
	width: 960px;
	max-width: 95%;
	text-align: center;
	border: $border-style;
	border-radius: 20px;
	background-color: $color-background-primary;
	color: black;
}

form {
	margin-bottom: 0px;
}

#input-div {
	margin: 0 auto;
	width: 340px;
	height: 36px;
	text-align: center;
}

#label-band {
	float: left;
	padding-top: 5px;
	font-size: 16px;
}

#band-name {
	float: right;
	margin-bottom: 0px;
	height: 36px;
	width: 187px;
	border: 1px solid #bbb;
	border-radius: 4px;
}

#band-name:hover {
	border: 1px solid #888;
}

#add-band {
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	clear: both;
	width: 340px;
	margin-bottom: 0;
}

#logo {
	height: 75px;
	margin-bottom: 10px;
}

#search-header {
	margin-bottom: 5px;
}

h5 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.button-primary.band-btn {
	margin-left: 2.5px;
	margin-right: 2.5px;
	width: 187px;
	max-width: 19.4%;
}

#search-terms-container {
	position: relative;
	margin: 0 auto;
	width: 50%;
}

#search-terms p {
	font-size: 12px;
}

#search-terms {
	position: absolute;
	top: -25px;
	z-index: 99 !important;
	display: none;
	border: 2px solid black;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border-radius: 20px;
	background-color: white;
	color: black;
}

.button {
	margin: 0 auto;
	margin-bottom: 5px;
	display: block;
	clear: both;
}

#nav {
	height: 50px;
}

#nav-container {
	margin: 0 auto;
	width: 960px;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 38px;
}

.container {
	width: 95%;
}

#fun-facts-header {
	margin-bottom: 0;
}

#fun-facts-container {
	text-align: center;
	font-size: 12px;
	height: 150px;
	border: $border-style;
	border-radius: 100px;
	background-color: $color-background-primary;
}

#med-bubble {
	width: 65px;
	height: 65px;
	border: $border-style;
	border-radius: 45px;
	background-color: $color-background-primary;
}

#sm-bubble {
	width: 35px;
	height: 35px;
	border: $border-style;
	border-radius: 25px;
	background-color: $color-background-primary;
}

#spotify-container {
	text-align: center;
	font-size: 12px;
	height: 250px;
	border: $border-style;
	border-radius: 20px;
	background-color: $color-background-primary;
}

#fun-facts, #spotify {
	padding: 10px;
	padding-top: 0;
}

#spotify-header {
	margin-bottom: 0;
}

#now-playing {
	min-height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
}

#now-playing-image {
	min-height: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#disc-container {
	margin: 30px 0;
	min-height: 100px;
	padding: 10px;
	border: $border-style;
	border-radius: 20px;
	background-color: $color-background-primary;
}

.button-primary.album-button {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button-primary.search-term-btn {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.album-image {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
}

#cancel {
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 5px;
}